@charset "UTF-8";
	
	body{
		background-color:#333333;
		padding-top:2vw;
		color:white;
	}
	.game_image_area > div{
	    display:inline-block;
	}
	
	.gameboard-container{
		height:70%;
	}
	
	.left-account-area{
		width:60%;
	}
	.right-account-area{
		padding-top:4px;
		width:40%;
		float:right;
	}
	
	.game_screenshot_view{
		width:100%;
		max-height: 376.63px;
	}
	
	.game_screenshot_view > img{
		width: 100%;
		max-height: 376.63px;
		height: 376.63px;
	}
	
	.title_area{
		height:10%;
	}
	.title_area p{
	    display:inline-block;
	}
	
	.title_button{
		float:right;
	}
	.title_button button{
		width:70px;
	}
	
	.game_title{
		border:none;
		font-size:30px;
		background-color:#333333;
	}
	
	.game_image_area{
		width:100%;
		height:60%;
	}
	.game_screenshot{
		height:80%;
	}
	.game_screenshot img{
		width:98%;
	}
	.game_screenshot_wait{
		padding : 5px;
		background-color:#333333;
		margin-top:2%;
		margin-right:2%;
		float:center;
    	vertical-align:middle;
    	float:center;
    	margin:0 auto;
    	padding-top: 22px;
	}
	.wait_screenshot{
		max-height:20%;
		width:19%;
		width:19.1%;
	    display:inline-block;
	}
	.wait_screenshot:hover{
		outline:black 4px solid;
	}
	.wait_screenshot > img{
		width:100%;
		max-height: 72px;
	}
	
	.game_account{
		vertical-align:top;
		color:#66C0F4;
	}
	.game_title_view{
		width:100%;
		max-height:253.61px;
		height: 253.61px;
	}
	
	.game_account > table{
		margin-top:2vh;
		width:100%;
		padding-top: -5px;
	}
	.left_td{
		font-weight:bold;
		color:#82807c;
		width:30%;
	}
	.account-area{
		padding-top:10px;
		color:#ffffff;
	}
	.game_account > table{
		background-color:#333333;
		width:100%;
		max-height:50%;
		border:none;
	}	
	
	.edit-game-account-div{
		margin-top:-7%;
		display:none;
		height :50%;
	}
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: hidden; /* Enable scroll if needed */
		background-color: rgb(0, 0, 0); /* Fallback color */
		background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
		padding-top: 60px;
		color:#000;
	}
	.modal-content {
		background-color: #fefefe;
		margin: 5% auto 15% auto;
		border: 1px solid #888;
		width: 30vw;
	}
	.animate {
		-webkit-animation: animatezoom 0.6s;
		animation: animatezoom 0.6s
	}	
	@-webkit-keyframes animatezoom {
		from {-webkit-transform: scale(0)}
		to { -webkit-transform: scale(1)}
	}
	@keyframes animatezoom {
		from {transform: scale(0)}
		to {transform: scale(1)}
	}
	input[type=text]{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		color:black;
		font-family: Arial, Helvetica, sans-serif;
		padding:10px;
	}
	
	.edit-container{
		padding:20px;
		width:100%;
	}
	.edit-container p{
		margin:5px;
	}
	.edit-container label{
		margin-top:5px;
	}
	.title-area{
		width:100%;
	}
	.content-area > textarea{
		padding:10px;
		width:100%;
		height:10vw;
	}
	.savebtn-area{
		margin-top:15px;
	}
	.savebtn{
		width:100%;
	}
	.screenshot-area{
		margin:0px;
	}
	
	.comment-div{
		width: 100%;
		height: 100%;
		padding-top: 1px;
		padding-left: 30px;
	}
	.commentArea{
		width: 60vw;
	}
	.comment-container{
		width:100%;
	}
	.comment-inner-div{
		width: 860px;
		overflow-y: scroll;
	}
	.comment-bt-td {
		padding-top: 31px;
	}	
	.input-comment {
		width: 850px;
		margin-bottom: 15px;
	}
	.view-comment {
		padding: 10px;
		max-width: 840px;
		border-bottom: 2px solid black; 
	}
	.bad-point{
		background: #F6CECE;
	}
	.good-point{
		background: #CED8F6;
	}
	.view-comment:hover {
		background: #D3D3D3;
	}
	.user-profile {
		border: 2px solid #ADD8E6;
		max-height: 32px;
		max-width: 32px;
	}	
	.comment-span {
		padding-left: 60px;
	}
	.write-comment-btn{
		height: 42px;
	}
	
	
	
.game-select{
	display:none;
}
.game-select-container > div{
}
.select-option{
	width:48%;
	height:90%;
	margin:2%;
	border:gray 2px solid;
  	border-radius: 2%;
	color:gray;
	margin-left:auto;
	margin-right:auto;
	padding: 5px;
	text-align: center;
	vertical-align:middle;
	font-size:20px;
	font-weight: bold;
}
.select-option:hover{
	border:#8A2908 2px solid;
	color:#8A2908;
	background-color:#F5D0A9;
}

.game-select-img{
	width:60%;
	margin:auto;
	margin-top:10%;
	margin-bottom:2%;
}