@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
	body {
		background: #F1F3FA;
	}
	
	aside{
		height:100%;
		width:200px;
		display:block;
	}

/* loginForm Start */

/* loginForm End */

/* sideBar Start */
.container{
    width:800px;
    overflow:hidden;
    display:inline-block;
}
.side-bar{
    background:#74AFAD;
    position:absolute;
    height:100%;
    width:200px;
    color:#fff;
    transition: margin-left 0.5s;
}

.side-bar ul{
    list-style:none;
    padding:0px;
    
}

.side-bar ul li.menu-head{
    font-family: 'Lato', sans-serif;
    padding:20px;
}

.side-bar ul li.menu-head a{
    color:#fff;
    text-decoration:none;
    height:50px;
}

.side-bar ul .menu-head  a{
    color:#fff;
    text-decoration:none;
    height:50px;
}

.side-bar ul .menu li  a {
    color:#fff;
    text-decoration:none;
    display:inline-table;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.side-bar ul .menu li  a:hover{
    border-left:3px solid #ECECEA;    
    padding-left:17px;
}

.side-bar ul .menu li  a.active{
    padding-left:17px;
    background:#D9853B;
    border-left:3px solid #ECECEA;
}

.side-bar ul .menu li  a.active:before {
   	content:"";
   	position: absolute;
   	width: 0;
   	height: 0;
   	border-top: 20px solid transparent;
   	border-bottom: 20px solid transparent;

	border-left: 7px solid #D9853B;
   	margin-top: -10px;
   	margin-left: 180px;
}

.content{
    padding-left: 200px;
    transition: padding-left 0.5s;
}

.active > .side-bar{
    margin-left:-150px;   
    transition: margin-left 0.5s;
}

.active > .content{
    padding-left:50px;
    transition: padding-left 0.5s; 
}

.user-profile{
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.logout-button{
	float:right;
}
/* sideBar End */


/* mainframe start */
body {
    margin: 0;            /* Reset default margin */
}

iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

.search_div {
	width: 100%;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.inner_div {
	width: 20%;
	height: 85%;
}

.search_area {
	width: 410px;
	height: 40px;
	padding-top: 15px;
}

.mainpage_body {
	background-color: #333333;
}

.main_bottom_div {
	display: inline-block;
	padding-left: 40px;
}

.main_bottom_div2 {
	display: inline-block;
	padding-left: 40px;
}

.bt_save {
	margin-left: 700px;
}

.main_top_logo {
	height: 150px;
}

header {
	width: 100%;
}

h1 {
	font-style: italic;
	font-size: 2.3em;
}

div.gallery {
	margin-top: 20px;
}

div.gallery ul {
	list-style-type: none;
	margin-left: 35px;
}

/* animation */
div.gallery ul li, div.gallery li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.gallery ul li {
	position: relative;
	float: left;
	width: 250px;
	height: 150px;
	margin: 20px;
	margin-left: 40px;
	padding: 5px;
	z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
	z-index: 50;
}

div.gallery ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #dddddd;
	padding: 5px;
	width: 250px;
	height: 150px;
	background: #f0f0f0;
}

div.gallery ul li img:hover {
	background-color: red;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background: linear-gradient( to right, rgba(0,0,0,0), rgba(0,0,0 ,50) );
}

.next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background: linear-gradient( to right, rgba(0,0,0,0), rgba(0,0,0 ,50) );
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.prev2  {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background: linear-gradient( to right, rgba(0,0,0,0), rgba(0,0,0 ,50) );
}

.next2 {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background: linear-gradient( to right, rgba(0,0,0,0), rgba(0,0,0 ,50) );
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
  background-color: rgba(0,0,0,0.8);
}

.inner_gamename {
	height: 25px;
	float: left;
}

.gamename_1 {
	padding-left: 120px;
	color: white;
}

.gamename_2 {
	padding-left: 245px;
	color: white;
}

.gamename_3 {
	padding-left: 243px;
	color: white;
}

.gamename_4 {
	padding-left: 247px;
	color: white;
}