@CHARSET "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body,
canvas {
  height: 100%;
}

@media (max-width: 639px) {
  body > canvas {
    height: 240px;
    width: 320px;
  }
}

@media (min-width: 640px) and (max-width: 799px) {
  body > canvas {
    height: 480px;
    width: 640px;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  body > canvas {
    height: 600px;
    width: 800px;
  }
}

@media (min-width: 1024px) {
  body > canvas {
    height: 768px;
    width: 1024px;
  }
}

html {
  /*font-size: 62.5%;*/
  font-size: 150%;
}

body {
  font-size: 1.4rem;
  padding: 0;
  background: black;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
}

canvas {
  margin: 0 auto;
  display: none;
}

.dialog {
  background-color: rgb(0, 0, 75);
  border: 5px solid #d0d0d0;
  border-radius: 10px;
  bottom: 20px; left: 20px; right: 20px;
  opacity: 0;
  position: absolute;
  padding: 20px;
  transition: opacity 200ms;
}

.dialog .dialog-actor-name, .dialog .dialog-text, .dialog .dialog-options {
  color: #d0d0d0;
  font-family: monospace;
  margin: 0;
}

.dialog .dialog-actor-name {
  font-weight: bold;
  font-size: 24px;
}

.dialog .dialog-text {
  font-size: 18px;
}

.dialog .dialog-options {
  display: none;
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
  margin-left: 0; padding-left: 0;
}

.dialog .dialog-options li {
  cursor: pointer;
  margin: 10px 0;
  margin-left: 20px;
}

.dialog .actor-photo {
  background-color: #d00000;
  border: 0 none;
  display: block;
  height: 100px; width: 100px;
  position: absolute;
}

.dialog .dialog-container {
  min-height: 100px;
  position: relative;
}

.dialog .dialog-container.image-left {
  padding-left: 120px;
}

.dialog .dialog-container.image-right {
  padding-right: 120px;
}

.dialog .dialog-container.image-left .actor-photo {
  left: 0px;
}

.dialog .dialog-container.image-right .actor-photo {
  right: 0px;
}