<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.mgm.www.mapper.GameListMapper">
	<select id="getGamelist" parameterType="string" resultType="game">
		SELECT
			g.gameid, u.nick, g.gamename, g.gameprofile
		FROM
			games g
		LEFT JOIN
			users u
		ON
			g.userid = u.userid
		ORDER BY
			g.gameid DESC
	</select>
	<select id="gameSelect" parameterType="int" resultType="game">
		SELECT
			u.nick, g.gamename, g.gamecontent, g.gameprofile
		FROM
			games g
		LEFT JOIN
			users u
		ON
			g.userid = u.userid
		WHERE
			g.gameid = #{gameid}
	</select>
	<select id="gameComment" parameterType="int" resultType="gcomment">
		SELECT
			u.nick, c.gcomment, c.point, TO_CHAR(c.writedate, 'YYYY.MM.DD') AS writedate
		FROM
			game_comment c
		LEFT JOIN
			users u
		ON
			c.userid = u.userid
		WHERE
			c.gameid = #{gameid}
		ORDER BY 
			writedate
	</select>
</mapper>