<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.mgm.www.mapper.GameListMapper">
	<select id="getGamelist" parameterType="string" resultType="game">
		SELECT
			g.gameid, u.nick, g.gamename, g.gameprofile
		FROM
			games g
		LEFT JOIN
			users u
		ON
			g.userid = u.userid
		WHERE
			g.isopen = 'Y'
		ORDER BY
			g.gameid DESC
	</select>
	<select id="gameSelect" parameterType="int" resultType="game">
		SELECT
			u.userid, u.nick, g.gamename, g.gamecontent, g.gameprofile, g.isopen
		FROM
			games g
		LEFT JOIN
			users u
		ON
			g.userid = u.userid
		WHERE
			g.gameid = #{gameid}
	</select>
	<select id="gameComment" parameterType="int" resultType="gcomment">
		SELECT
			u.nick, c.gcomment, c.point, TO_CHAR(c.writedate, 'YYYY.MM.DD') AS writedate
		FROM
			game_comment c
		LEFT JOIN
			users u
		ON
			c.userid = u.userid
		WHERE
			c.gameid = #{gameid}
		ORDER BY 
			writedate
	</select>
	<update id="updateGameAccount" parameterType="game">
		UPDATE
			games
		SET
			gamename = #{gamename},
			gamecontent = #{gamecontent}
		WHERE
			gameid = #{gameid}
	</update>
	<update id="isOpenGame" parameterType="game">
		UPDATE
			games
		SET
			isopen = #{isopen},
			opendate = SYSDATE
		WHERE
			gameid = #{gameid}
	</update>
	<select id="getPopularGame" resultType="game">
		SELECT
            g.gameid, g.gamename, g.gamecontent, p.point
        FROM
            games g
        LEFT JOIN
            (SELECT
                gameid, AVG(point) AS point
            FROM
                game_comment
            GROUP BY
                gameid) p    
        ON
            g.gameid = p.gameid
        WHERE
            g.isopen = 'Y'
        ORDER BY
            p.point
	</select>
	<select id="getRecentGame" resultType="game">
		SELECT
		    gameid, gamename, gamecontent, opendate
		FROM
		    games
		WHERE
		    isopen = 'Y'
		ORDER BY
			opendate DESC
	</select>
	<select id="getPlayedGame" parameterType="string" resultType="game">
		SELECT
		    g.gamename, g.gamecontent, g.gameid, u.nodeid, u.lastdate
		FROM
		    user_gameplay u
		LEFT JOIN
		    games g
		ON
		    g.gameid = u.gameid
		WHERE
		    u.userid = #{userid}
		ORDER BY
		    u.lastdate
	</select>
	<select id="getMadeGame" parameterType="string" resultType="game">
		SELECT
			*
		FROM
			games
		WHERE
			userid = #{userid}
		ORDER BY
			opendate, gamename
	</select>
	<insert id="newGame" parameterType="string">
		INSERT INTO
			games(
				gameid, 
				userid, 
				gamename, 
				gamecontent
			)
		VALUES(
			seq_gameid.nextval, 
			#{userid}, 
			'Default Title', 
			'Default Account'
		)
	</insert>
	<insert id="newGameNode" parameterType="int">
		INSERT INTO
			game_node(
				gameid, 
				nodeid, 
				nodename
			)
		VALUES(
			#{gameid}, 
			seq_nodeid.nextval, 
			'SceneName'
		)
	</insert>
	<select id="newGameSelect" parameterType="string" resultType="game">
		SELECT
			g.gameid, u.userid, u.nick, g.gamename, g.gamecontent, g.gameprofile, g.isopen
		FROM
			games g
		LEFT JOIN
			users u
		ON
			g.userid = u.userid
		WHERE
			u.userid = #{userid}
		AND
			g.gamename = 'Default Title'
		AND
			g.gamecontent = 'Default Account'
	</select>
	<select id="searchGame" parameterType="string" resultType="game">
		SELECT
		    g.gameid, u.nick, g.gamename, g.gamecontent
		FROM
		    games g,
		    users u
		WHERE
		    g.userid = u.userid
		AND
		    g.gamename LIKE '%${value}%'
		AND
		    g.isopen = 'Y'
	</select>
	<select id="searchGameCnt" parameterType="string" resultType="game">
		SELECT
		    CNT(*)
		FROM
		    games g,
		    users u
		WHERE
		    g.userid = u.userid
		AND
		    g.gamename LIKE '%${value}%'
		AND
		    g.isopen = 'Y'
	</select>
</mapper>