<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.mgm.www.mapper.GameLoadMapper">
   <select id="loadGameScenes" parameterType="int" resultType="gnode">
      SELECT
         nodeid, 
         parentid, 
         nodename
      FROM
         game_node
      WHERE
         gameid = #{gameid}
      ORDER BY
         parentid NULLS FIRST, nodeid
   </select>
   
   <select id="editScene" parameterType="int" resultMap="selectNodeResult">
      SELECT
          g.userid, n.nodename, n.nodecontent
      FROM
          game_node n
      LEFT JOIN
          games g
      ON
          n.gameid = g.gameid
      WHERE
          n.nodeid = #{nodeid}
   </select>   
   <resultMap id="selectNodeResult" type="hashmap">
      <result property="userid" column="userid" javaType="string"/>
      <result property="nodename" column="nodename" javaType="string"/>
      <result property="nodecontent" column="nodecontent" jdbcType="CLOB" javaType="string" />
   </resultMap>
   
   <insert id="saveGameScene" parameterType="gnode">
      INSERT INTO 
         game_node(
            gameid, 
            nodeid, 
            parentid, 
            nodename,
            nodecontent
         )
      VALUES(
         #{gameid}, 
         seq_nodeid.nextval, 
         #{parentid}, 
         'SceneName',
         #{nodecontent}
      )
   </insert>
   
   <!-- 특정 노드에 연결된 자식 노드들의 정보를 가져오는 쿼리문 -->
   <select id="getChildnode" parameterType="int" resultType="gnode">
      SELECT
         nodeid, nodename
      FROM
         game_node
      WHERE
         parentid = #{parentid}
      ORDER BY
         nodeid
   </select>
   
   <!-- 맵 에디터에서 노드 정보를 수정하기 위해 노드의 정보를 가져오는 쿼리문 -->
   <select id="loadGameScene" parameterType="int" resultMap="selectGameScene">
      SELECT
         *
      FROM
         game_node
      WHERE
         nodeid = #{nodeid}
   </select>
   <resultMap id="selectGameScene" type="hashmap">
      <result property="gameid" column="gameid" javaType="string"/>
      <result property="nodeid" column="nodeid" javaType="string"/>
      <result property="parentid" column="parentid" javaType="string"/>
      <result property="nodename" column="nodename" javaType="string"/>
      <result property="nodecontent" column="nodecontent" jdbcType="CLOB" javaType="string" />
   </resultMap>
   
   <!-- 노드의 정보를 수정, 즉 맵 정보 수정하기 위한 쿼리문 -->
   <update id="updateNodeContent" parameterType="gnode">
      UPDATE 
         game_node
      SET
         nodename = #{nodename},
         nodecontent = #{nodecontent}
      WHERE
         nodeid = #{nodeid}
   </update>
   
   <!-- 게임을 시작하기 위해 첫 노드의 정보를 가져오기 위한 쿼리문 -->
   <select id="loadGame" parameterType="int" resultMap="selectGameScene">
      SELECT
         *
      FROM
         game_node
      WHERE
         gameid = #{gameid} AND parentid IS NULL
   </select>
   
   <delete id="deleteNode" parameterType="int">
      DELETE FROM
         game_node
      WHERE
         nodeid = ${nodeid}
   </delete>

   <insert id="addChildScene" parameterType="gnode">
      INSERT INTO
         game_node(
            gameid, 
            nodeid, 
            parentid, 
            nodename
         )
      VALUES(
         #{gameid},
         seq_nodeid.nextval,
         #{parentid},
         'Scene'
      )
   </insert>
</mapper>